body {
     margin: 0;
}

.header {
     height: 50px;
     background-color: #DAA520;
 }

.header__navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__navbar-list {
	list-style: none;
	padding-inline-start: 100px;
	padding-inline-end: 100px;
	justify-items: center;
}

.header__navbar-item {
	display: inline-block;
    justify-items: center;
    padding: 0px 15px;
}

.header_images{
	height: 25px;
}

.text__articles{
	font-size: 20px;
	padding-left: 6rem;
}

.body__infor-detail{
	display: inline-flex;
}

.body__list{
	list-style: none;
	padding-left: 6rem;
	padding-right: 3rem;
	display: block;
	margin: 0px;
	width: 70%;
}

.body__item{
     padding: 0px 0px 70px;
     display: flex;
}

.body__content-item, .body__content-information{
     font-size: 15px;
}

.body__images-item-child{
	width: 280px;
     height: 205px;
     display: inline-block;
     margin-right: 10px;
     border-radius: 6px;
}

.body__title-item{
     font-size: 20px;
     font-weight: 400;
}

.body__content-group{
	list-style: none;
	width: 530px;
}

.body__content-split{
     padding-right: 20px;
}

.body__content-information{
	display: flex;
}

.body__content-separate::after{
	content: "";
	display: block;
	position: absolute;
	border-right: 1px solid black;
	height: 25px;
	transform: translateY(-22px);
	margin-left: -10px;
}

.highlight{
     color: orange;
}

.body__function-alter{
	display: flex;
}

.body__function-alter-child{
	padding-right: 40px;
}

.body__content-separate-icon::after{
     content: "";
	display: block;
	position: absolute;
	border-right: 1px solid black;
	height: 25px;
	transform: translateY(-22px);
	margin-left: -20px;
}

/*.body__content-separate-category{
	content: "";
	display: block;
	position: absolute;
	border-right: 100px solid black;
}*/

.search__form {
  padding-left: 35px;
  display: flex;
  align-items: center; /* Center items vertically */
  padding-bottom: 40px;
}

.icon__search {
  position: absolute;
  margin-left: 2px;
  z-index: 1;
  color: #4f5b66;
  text-align: center;
  padding-left: 2px;
}

.searchTerm {
  padding-left: 20px;
  height: 30px;
  width: 200px;
  line-height: 30px; /* Center icon vertically */
  border-radius: 20px;
}

.catogories__list-full{
	display: block;
     padding-left: 15px;
     border-left: 1px solid black;
} 

.catogories__list-content{
	list-style: none;
	padding-bottom: 35px;
}

.catogories__list-date{
	list-style: none;
	font-size: 10px;
	padding-bottom: 3px;
	color: gray;
}

.body__button-more{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 10vh; /* set the height of the container */
	padding-bottom: 100px;
}

.btn-articles{
	height: 50px;
	width: 150px;
	border-color: #DAA520;
	font-weight: 600;
}

* {
  box-sizing:border-box;
}
ul {
  list-style-type: none;
}
body {
  font-family: Verdana,sans-serif;
}
 
.calender__form{
    padding: 0 50px 60px 35px;
}

.month {
    padding: 70px 25px;
    background: gray ;
}
 
.month ul {
    margin: 0;
    padding: 0;
}

.month .center{
    text-align: center;
    transform: translateY(3px);
    justify-content: center;
}
 
.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
 
.month .prev {
    float: left;
    text-align: center;
}
 
.month .next {
    float: right;
    text-align: center;
}
 
.weekdays {
    margin: auto;
    padding: 10px 0;
    background-color: #ddd;
}
 
.weekdays li {
    display: inline-block;
    width: 12%;
    color: #666;
    text-align: center;
}
 
.days {
    margin: auto;
    padding: 10px 0;
    background: #eee;
    margin: 0;
}
 
.days li {
    list-style-type: none;
    display: inline-block;
    width: 12%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
}
 
.days li .active {
    padding: 5px;
    background: #DAA520;
    color: white !important
}

.days li .hidden {
    padding: 5px;
    color: #A9A9A9; !important
}

.footer{
	height: 80px;
     background-color: #DAA520;
     display: flex;
     font-size: 15px;

}

.col-3{
	width: 33.33%;
	align-items: center;
	justify-content: center;
	padding-right: 10px;
}

.col-9{
	width: 11.11%;
	padding-left: 10px;
	align-items: center;
	font-weight: 600;
}

.finally{
	display: flex;
	padding-left: 200px;

}

.col-10{
	width: 60%;
	padding-left: 20px;
	align-items: center;
}


