<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<!-- Step 2: setup scanning package to controllers -->
	<context:component-scan base-package="bkit.java15.controller" />

	<!-- Step 3: setup annotation support for scanning, validation -->
	<mvc:annotation-driven />
	
	<!-- Step 4: setup internal view resolver -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 
		Step 5  : Configure FE resource(css, js, images) for client-server 
		location: vị trí chứa FE files 
		mapping : request mapping from server 
	-->
	<mvc:resources location="/resources/" mapping="/resources/**"></mvc:resources>
	
	<!-- require id messageSource -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="messages"></property>
	</bean>

</beans>