body {
	width: 100%;
	height: 66px;
	background: #fabb05;
}

.wrapper {
	width: 80%;
	height: 66px;
	margin: 0 auto;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
}

.header-img {
	height: 26px;
}

.header-left {
	display: flex;
	flex-direction: row;
	gap: 40px;

}


.header-left li{
	display: inline-block;
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	font-weight: 200;

}

.header-right {
	display: flex;
	flex-direction: row;
	gap: 40px;

}


.header-right li{
	display: inline-block;
	font-size: 20px;
	color: #000;
	text-transform: uppercase;
	font-weight: 200;

}


/* body */
.main {
	display: flex;
	margin: 0 100px;
}

.main-left {
	width: 70%;
	border-right: solid 1px #ccc;
	float: left;
}

.main-header {
	color: #000;
	font-size: 24px;
	font-weight: 500;
	line-height: 20px;
	padding-top: 20px;
}

.acticle-wrapper {
	display: flex;
	padding: 20px 0;
}

.acticle-img {
	width: 220px;
	border: none;
	border-radius: 10px;
	padding-right: 10px;
}

.acticle {
	padding: 0 20px;
} 

.acticle-title {
	font-family: roboto;
	font-size: 24px;
	font-weight: 200;
	line-height: 24px;
	color: #333;
	padding-bottom: 20px;
}

.acticle-inf {
	position: relative;
	display: flex;
	left: -8px;
}

.acticle-inf li{

	font-size: 16px;
	font-weight: 200;
	color: #555;
	line-height: 16px;
	padding: 0 8px;
	border-right: solid 1px #333;
}


.acticle-inf li:last-child {

	border: none;
	color: #fabb05;
}

.acticle-content {
	font-size: 16px;
	font-weight: 300;
	color: #444;
	line-height: 18px;
	padding-bottom: 16px;
}

.main-right {
	width: 30%;
	float: right;
}

.acticle-icon {
	width: 16px;
	padding-right: 8px;

}

.fa-comment-o {
	color: #444;
}

.btn-acticle {
	display: block;
	background: #fff;
	color: #000;
	border: solid 1px #fabb05;
	margin: 50px auto;
	border-radius: 10px;
	height: 40px;
	padding: 0 10px;
}

/*---------*/
.search-box {
	width: 90%;
	height: 30px;
	font-size: 10pt;
	float: left;
	padding-left: 45px;
	border: solid 1px #ccc;
	border-radius: 20px;
}

.search-field {
	position: relative;
	display: flex;
	margin: 80px 0 20px 0;
}

.search-icon {
	position: absolute;
	top: 28%;
	margin-left: 17px;
	z-index: 1;
	color: #4f5b66;
}

/*calendar*/
.month {
  width: 100%;
  background: #fff;
  border: solid 1px #ccc;
  text-align: center;
  color: #000;
}

/* Month list */
.month ul {
  	text-align: center;

}

.month ul li {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 8px 0;
}

.month .prev {
  padding-right: 30px;
}

.month .next {
  padding-left: 30px;
}

.fa-angle-right {
	color: #fabb05;
}

/* Weekdays (Mon-Sun) */
.weekdays {
	display: flex;
	width: 100%;
 	margin: 0;
  	padding: 10px 0;
  	background-color:#ddd;
  	border: solid 1px #ccc;
}

.weekdays li {
  display: inline-block;
  width: 14.28%;
  color: #666;
  text-align: center;
  font-size: 14px;
}

/* Days (1-31) */
.days {
	width: 100%;
  	padding: 10px 0;
  	background: #fff;
  	margin: 0;
  	border: solid 1px #ccc;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:14px;
  color: #333;
}

.days li .active {
  padding: 5px;
  background: #fabb05;
  color: white !important
}

.news {
	margin-top: 30px;
}

.news-header {
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	color: #000;
}

.news-header::after {
	content: " ";
	width: 100px;
	height: 1px;
	background: #777;
	margin: 4px 0px;
    float: right;
    position: relative;
    top: 7px;
}

.short-news {
	padding-top:16px ;
}

.short-news-date {
	font-size: 14px;
	font-weight: 200;
	line-height: 16px;
	color: #888;
}

.short-news-title {
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	color: #111;
}

/*footer*/
footer {
    background: #fabb05;
    width: 100%;
} 

.footer-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

.coppyright {
    color: #000;
}

.direct-link {
    display: flex;
    color: #000;
}

.direct-link :hover{
    font-size: 20px;
}

.direct-link div {
    margin-right: 30px;
    font-weight: bold;
}

.icon {
	display: flex;
	align-items: center;
}

.footer-inf {
	color: #000;
}

.icon .fa {
    border-radius: 50%;
    background: #fff;
    color: #fabb05;
    padding: 10px;
    margin: 0 4px;
    width: 16px;
    height: 16px;
    font-size: 20px;
}