body{
	font-family: sans-serif;
	background-color: white;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
/*************** Header starts ************/
header {
	top:0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	background-color: black;
	color: white;

}
.left-header{
	display: flex;
	justify-content: space-around;
}
.left-header .menu-lists{
	margin: 16px;
}
.burger-line{
	display: block;
	width: 32px;
	background-color: #fff;
	height: 3.2px;
	border: 40px;
	margin: 4.8px;

}
.menu-lists ul{
	display: flex;
	list-style: none;
	text-decoration: none;
	justify-content: space-around ;
}
.menu-lists ul li {
	margin: 8px;
}
.cnn-motto{
	background-color: red;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.right-header{
	display: flex;
	justify-content: space-between;
}
.right-header div {
	margin:16px;
}
.top-headlines .headline	{
	display: flex;
	width: 100%;
	font-size: 18px;
	margin: 30px auto;
	align-items: center;
	justify-content: center;

}


/*************** Header ends **************/





/*************** Section updates starts **************/

.updates{
	display: flex;	
}
.left-updates{
	margin: 16px;
}
.left-updates-top-headline{
	font-size: 32px;
	font-weight: bold;
}
.img-left-updates-img{
	max-width: 100%;
}
.left-updates .para{
	font-weight: bolder;
	font-size: 20px;
}
.left-updates-more-headlines-topic p {
	color: gray;
}
/** middle updates
 */
 .middle-updates{
 	margin:16px;
 }
 .middle-updates .para {
 	font-weight: bolder;
 	font-size: 18px;
 }
 .middle-updates-more-headlines-topic p {
 	color: gray;
 }
 /** right updates **/
 .right-updates{
 	margin: 16px;
 }
.right-updates .para{
	font-weight: bolder;
	font-size: 18px;
}
.right-updates-more-headlines-topic p{
	color: gray;
}
/*************** Section categories starts **************/
.categories{
	display: flex;
}
.more-top-stories{
	margin: 15px	;
}
.categories-heading{
	font-weight: bold;
	font-size: 18px;
	background-color: lightgrey;
	margin: 15px;
}
.img-more-top-stories-img ,
.img-featured-img {
	max-width: 100%;
	margin: 18px;
}
.more-top-stories-para , .featured-para{
	font-weight: bolder;
	font-size: 18px;
	margin: 4px;
}
.featured-more-headlines-topic{
	display: flex;
}
/** section categories featured **/
.featured{
	margin: 15px;
}

.featured-heading{
	font-weight: bold;
	font-size: 18px;
	background-color: lightgrey;
	margin: 15px;
}
.img-featured-img{
	max-width: 90%;
	margin: 16px;
}
.featued-para{
	font-weight: bolder;
	font-size: 18px;
	margin: 4px;
}
.featured-text{
	display: flex;
}
.featured-text-para{
	margin-top:16px;
	margin-left: 16px;
}
/** Section spotlight **/
.spotlight{
	margin: 16px;
}
.spotlight-more-headlines-topic{
	margin:16px;
}
.img-spotlight{
	margin: 8px;
}
.spotlight-para{
	margin-left: 16px;
}
/** SECTION TAKE STARTS **/
.take{
	display: flex;
}
/** Section featured-sections starts **/
.featured-section-top{
	display: flex;
}
.featured-section-bottom{
	display: flex;
}
/** photo gallery starts **/
.photos-gallery{
	margin: 16px;
}
.photos-top{
	display: flex;
}
.photos-middle{
	display: flex;
}
.photos-bottom{
	display: flex;
}
.photos-gallery-heading{
	font-weight: 400;
	color: grey;
	margin: 2px;
}
.photos-heading-top{
	display: flex;
}	
.img-photo{
	max-width: 50%;
}
/** footer starts **/
footer{
	background-color: black;
}
.listed-first > ul > li > a {
	color: white;
}
.footer-top , .footer-bottom{
	display: flex;
	max-width: 100%;
	margin: 15px;
	justify-content: space-between;
}
.search-stories{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.input-search{
	margin: 32px;
}
.footer-socials{
	display: flex;
	justify-content: center;
	align-items: right;
	margin: 16px;
}