html {
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
}
header {
	width: 100%;
	height: 66px;
	background-color: #2b2b2b;
}
header .wrapper {
	width: 82%;
	height: 100%;
	margin: 0 auto;
	line-height: 66px;
}

.header-logo {
	float: left;
}

.header-navigation{
	float: right;
}

.header-navigation li {
	float: left;
	margin-left: 44px;
	
}

.header-navigation a {
	color: #fff;
	text-transform: uppercase;
}
.header-navigation a:hover {
	font-size: 18px;
	font-style: italic;
	color: #f3f6f9;
}


/*======================= banner =====================================*/

.banner-container {
	width: 100%;
	height: 682px;
	background-image: url(../images/banner.png);
	background-size: cover;
	position: relative;
}

.banner-container .banner-content {
	display: inline-block;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.banner-container .banner-content .banner-title{
	font-size: 58px;
    font-weight: bold;
    word-spacing: 10px;
    color: white;
    letter-spacing: 5px;
}
.banner-container .banner-content .banner-desc{
	margin: 26px 0;
    color: white;
    font-weight: 100;
    font-size: 20px;
    
}
.banner-container .banner-content .banner-btn{
	margin-top: 20px;
	width: 150px;
    height: 50px;
    background-color: #CA0500;
    border: none;
    cursor: pointer;  
}

.banner-container .banner-content .banner-btn a{
	font-size: 15px;
	color: white;
    
}

/*=========================Content==========================================*/
.content-container{
	width: 100%;
	height: 800px;
	background: rgb(255,255,255);
	background: linear-gradient(100deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(35,35,35,1) 50%, rgba(35,35,35,1) 100%);
	position: relative;
}
.content-container .content-left{
	width: 40%;
	height: 100%;

	position: absolute;
	top: 35%;
	left: 25%;
	transform: translate(-50%,-25%);
}
.content-container .content-right{
	width: 40%;
	height: 100%;
	color: white;
	
	position: absolute;
	top: 35%;
	left: 75%;
	transform: translate(-50%,-25%);
}

.content-container .content-title {
	position: relative;
	font-size: 37px;
	font-weight: 600;

}
.content-container .content-title:after {
	position: absolute;
	content: "";
	top: 70px;

	width: 60px;
	height: 2px;
	display: block;
	background-color: red;
	
}
.content-container .content-desc{
	margin-top: 70px;
	margin-bottom: 45px;
	font-size: 27px;
    font-style: italic;
}
.content-container .content-text{
	margin: 40px 0;
    font-size: 16px;
    line-height: 30px;
}

/*====================Footer========================*/

footer {
	width: 100%;
	height: 200px;
	background-color: #1F1F1F;
	color: white;
}
.footer-container {
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.footer-container .container-list{
	float: left;
	width: 23%;
	height: 100%;
}
.footer-container .container-list .footer-item-title{
	color: white;
	text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: 500;
}
.footer-container .container-list ul li{
	color:#888888;
	margin: 8px 0;
}
.footer-container .container-social .list-icon li{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: black;
	color:#888888;
	margin: -20px 20px 20px 0px;
	position: relative;
}
.footer-container .container-social .list-icon li i{
	font-size: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.footer-container .container-social .container-social-tag{
	font-size: 13px;
	margin-top: 30px;
	margin-left: 10px;
	color:#888888;
}
/* text-align: center --> alignment for text
	tag1(block)
		tag2(block)
	tag2 is center of tag1 --> tag2 --> margin: 0 auto;
*/