/*==================== BASE STYLE ====================*/
body{
	font-size: 16px;
	font-family: sans-serif;
	line-height: 1.2;
}
a , a::after a::before{
	content: "";
	color: black;
}
a:hover {
	font-style: italic;
	color: salmon ;
}
.text-bold{
	font-weight: bold;
}

/* ==================COMMON STYLE ========================*/
.wrapper{
	width: 88%;
	height: 100%;
/*	background-color: lightblue; */
	margin: 0 auto;
}
.clear-fix{
	clear:both;
}

/* ==================HEADER STYLE ========================*/
#page-header , #page-footer{
	height: 67px;
	background-color: #f7c61d;
}
#page-header .wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#page-header .wrapper .nav-flex ul {
	display: flex;
}
#page-header .wrapper .nav-flex ul li {
	margin: 0 35px;
}
#page-header .wrapper a {
	font-size: 20px;
	font-weight: bold;
	color: black;
}
/* ==================PAGE MAIN STYLE ========================*/
#page-main .wrapper .recent-articles {
	margin-top: 50px;
	margin-bottom: 20px;
}
#page-main .wrapper main{
	width: 77%;
	float: left;
}
#page-main .wrapper aside{
	width: 23%;
	float: right;
	padding-left: 20px;
	box-sizing: border-box;
}

#page-main .wrapper main .articles article:last-child {
	display: flex;
	gap:20px;
	margin-bottom: 60px;
}
#page-main .wrapper main .articles article .article-right {
	display: flex;
	gap:20px;
	flex-direction: column;
	margin-left: 80px;
}
.category , .article-end , .comments  {
	color: #e3b002;
}
.more-articles{
	text-align: center;
}
.more-articles a{
	display: inline-block;
	padding: 12px 22px;
	border: 1px solid #e3b002;
	border-radius: 10px;
}
	

/* ==================MAIN STYLE ========================*/

/* ==================SIDE BAR STYLE ========================*/
#right-side-bar > *{
	margin-bottom: 60px;
}
.search-box{
	position: relative;
	margin-bottom : 40px;
}
.search-icon{
	position: absolute;
	top:6px;
	left: 2px;
}
.search-text{
	border: 1px solid #cecece;
	box-sizing: border-box;
	padding: 5px 20px;
	border-radius: 10px ;
	width: 100%;
}
.calendar{
	width: 100%;
/*	border:	1px solid #e5e5e5; */
	border-radius: 10px;
}
.calendar .calendar-top{
	width: 100%;
	display: flex;
	justify-content: space-around;
	height: 26px;
	align-items: center;
	font-weight: bold;
	border:1px solid #e5e5e5;
	box-sizing: border-box;
}
.calendar .calendar-body table{
	width: 100%;
}
.calendar .calendar-body table th{
	background-color: #e7e7e7;
	height: 26px;
	color:#888;
	text-align: center;
	vertical-align: middle;
	border:1px solid #e5e5e5;
	width: 14%;
}
.calendar .calendar-body table td{
	height: 32px;
	color: #888;
	border: 1px solid #e5e5e5;
	text-align: center;
	vertical-align: middle;
	border:1px solid #e5e5e5;
	width: 14%;
}
#current-date{
	background-color: #e3b002;
}
.not-current-month{
	background-color: #e5e5e5;
}
.popular-news >*{
	margin: 15px 0;
}
.popular-news .title{
	display: flex;
	font-size: 18px;
	white-space:  nowrap;
	align-items: center;
}
.popular-news .title:after {
	content:'';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #e5e5e5;
	margin-left: 10px;
}
.popular-news .meta{
	color: #888;
	margin: 8px 0;
}


/* ==================FOOTER STYLE ========================*/
#page-footer{
	margin-top: 80px;
}
#page-footer .copy-right{
	width: 100%;
	font-size: 13px;
	color:#a78613;
}
#page-footer .footer-nav{
	width: 100%;
	text-align: center;
}
#page-footer .footer-nav ul{
	display: flex;
	justify-content: center;
	gap:40px;
}
#page-footer .socials{
	display: flex;
	justify-content: flex-end;

}
#page-footer .socials a{
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 50%;
	font-size: 24px;
	color: salmon;
	text-align: center;
	line-height: 45px;
	margin: 0 10px;
}